.table{
    width: 99%;
    margin: .5rem;
    padding-top: 5rem;
    // background-color: aqua;
}

.heading{
    color: #334155;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.head{
    width: 100%;
    margin: auto;
}

.search{
    height: 30px;
    width: 20%;
}

.body{
    padding: .5rem 5rem 6rem 5rem;
}