<app-header></app-header>
<div class="card flex justify-center">
    <p-fieldset legend="Project Documentation">
        <p class="m-0"> 1. Welcome hiring team! This is Home/Index page for this application. </p>
        <p class="m-0"> 2. To access the Data Table View, select "Data Table View" from the menu bar. This view displays all records using a PrimeNG data table, where you can search by any keyword and filter the data accordingly.</p>
        <p class="m-0"> 3. To access User Facing View which has one specefic data. Click on "User Facing View" from menubar and search fund by name.</p>
        <p class="m-0"> 4. To access Admin View: Go to "User Facing View" using menubar ---> Search for a name of fund present in data ---> The Edit Fund button will appear in the bottom-right. After SSO is added, only admins will have access to it. </p>
        <p class="m-0"> 5. In Edit Fund (Admin View), I have added the delete operation as well which will remove that specific fund record from db file.</p>
        <p class="m-0"> 7. <span class="task">Remaining tasks: </span>Implement error handling, add detailed code comments/documentation, and make the single-record API (User View) more flexible as it currently only works with exact, case-sensitive name searches.</p>
        <p class="m-0"> 8. Command to run <span class="task">backend:</span> npm run start; <span class="task">frontend:</span> ng serve. Also, for frontend you may need to run "npm install primeng &#64;primeuix/themes" before ng serve.</p>
    </p-fieldset>
</div>
<app-footer></app-footer>