.main{
    width: 99%;
    margin: .5rem;
    padding-top: 5rem;
}

.heading{
    color: #334155;
    font-weight: 500;
    font-size: 18px;
}

.head{
    width: 100%;
    margin: auto;
}

.btn{
    margin-left: 0.25rem;
}

.search{
    width: 40%;
}

.itemTable{
    padding: 0 3rem;
}

.btn2{
    margin-top: 1rem;
    text-align: end;
}

.btn-group{
    margin-top: 1rem;
    align-items: end;
}
//CBU Fund 55
.button{
    margin-left: 45%;
    margin-right: .5rem;
}

.danger{
    margin-right: .5rem;
}




